<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title Comfort Plus</title>
    <link rel="stylesheet" href="~/Content/Start-page.css" />
    @*<link href="~/Views/Home/" rel="stylesheet" />*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Aboutus-page.css">
</head>
<body>
    @Html.Partial("_LayoutHeader");

    <div class="container mt-4">
        @RenderBody() <!-- Здесь будет содержимое страниц -->
    </div>
    @Html.Partial("_LayoutFooter");


</body>
</html>
