@* _LayoutFooter.cshtml *@
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p>&copy; 2025 Comfort Plus. Все права защищены.</p>
        <ul class="list-unstyled">
            <li><a href="#" class="text-white">Политика конфиденциальности</a></li>
            <li><a href="#" class="text-white">Условия использования</a></li>
            <li><a href="#" class="text-white">Обратная связь</a></li>
        </ul>
    </div>

    <style>


    </style>
</footer>
