<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfort Plus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>

    <!-- Основной контент -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/divan.jpg" class="card-img-top" alt="Диваны">
                    <div class="card-body">
                        <h5 class="card-title">Диваны</h5>
                        <p class="card-text">Комфортные и стильные диваны для вашего дома.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/stol.jpg" class="card-img-top" alt="Столы">
                    <div class="card-body">
                        <h5 class="card-title">Столы</h5>
                        <p class="card-text">Элегантные и современные столы для работы и отдыха.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/styl.jpg" class="card-img-top" alt="Стулья">
                    <div class="card-body">
                        <h5 class="card-title">Стулья</h5>
                        <p class="card-text">Удобные стулья с современным дизайном.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/krovati.jpg" class="card-img-top" alt="Кровати">
                    <div class="card-body">
                        <h5 class="card-title">Кровати</h5>
                        <p class="card-text">Большой выбор кроватей для комфортного сна.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/bookshelves.jpg" class="card-img-top" alt="Книжные полки">
                    <div class="card-body">
                        <h5 class="card-title">Книжные полки</h5>
                        <p class="card-text">Удобные полки для ваших книг и декора.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/komod.jpeg" class="card-img-top" alt="Комоды">
                    <div class="card-body">
                        <h5 class="card-title">Комоды</h5>
                        <p class="card-text">Функциональные и стильные комоды для хранения.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/tumba.jpeg" class="card-img-top" alt="Тумбы">
                    <div class="card-body">
                        <h5 class="card-title">Тумбы</h5>
                        <p class="card-text">Элегантные тумбы для вашей спальни и гостиной.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/Content/images/kreslo.png" class="card-img-top" alt="Кресла">
                    <div class="card-body">
                        <h5 class="card-title">Кресла</h5>
                        <p class="card-text">Удобные и стильные кресла для вашего дома.</p>
                        <a href="#" class="btn btn-danger">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
